
<footer class="footer text-bg-dark">
    <div class="container d-flex flex-column">
        <div>
            <%= link_to root_path do %>
            <%= image_tag "logo.png" , alt: "PotepanShare", width: "320px" %>
            <% end %>
        </div>
        <p class="text-light">
            Copyright©️ PotepanShare 2023 All rights reserved 
        </p>

    </div>

</footer>